/*This is for the staff webpage */
@font-face {
    font-family:'Font1';
    src: url('../Fonts/Font1.ttf') format('truetype');
}
/* Small devices like phones this section is DONE */
@media only screen and (max-width: 600px){
    body{
        background-color: #F8C471;
    }
    .box{
        background-color:#C5C3C0;
    }
    .Header a:hover{
        background-color:#FFB540;
        color:white;
        cursor: pointer;
    }
    p{
        padding: 0.5rem;
    }
    .Info1 h2{
        text-align: center;
        color:white;
        font-family: 'Font1';
    }
    p{
        text-align: center;
        color: white;
        font-family: 'Font1';
        text-shadow: 1px 1px black;
    }
    .Info1 img{
        width: 200px;
        height: 150px;
        padding: 1rem;
    }
    .Info1 h1{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .box{
        border: black solid; 
    }
    .Info2 img{
        float: left;
        height:180px;
        width: 240px;
        padding: 10px;
        padding-bottom: 10px;
        margin-bottom: 8px;
    }
    .Info2 h1{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .Info2 p{
        font-family: 'Font1';
        color: white; 
    }
    /*Horizontal Setup*/
    .Header ul li:hover > ul, 
    ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .Header ul li ul li{
        clear: both;
        width: 100%;
        font-family: 'Font1';
        font-size: 20px; 
        text-shadow: 1px 1px black;
    }
    .Header ul li ul {
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 0.7rem;
        left: -40px;
        display:none;
        text-decoration: none;
        
    }
    .Header li{
        background: #F8C471;
        display: block;
        float: left;
        padding:0.5rem;
        margin-top:0rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
        font-family: 'Font1';
        font-size: 20px; 
        width: 135px;
        height: 25px;
        right: 1.1rem;
        padding-top: 1rem;
        padding-bottom: 0.3rem;
        padding-right: 0rem;
        text-shadow: 1px 1px black;
    }
    .Header a{
        text-decoration: none;
        color: white;
    }
    .grid-container{
        display: grid;
        grid-row-gap: 5rem;
        grid-column-gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
    }
    .Header{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 80px;
        flex-wrap: wrap;
        /*position: fixed;*/
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
    }
    .Header h1{
        float: right;
    }
    h1, h2{
        text-shadow: 2px 2px black; 
    }
    .Info1{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 4;
        flex-wrap: wrap;
        height: 450px;
        box-shadow: 6px 6px white;
    }
    .Info2{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
        flex-wrap: wrap;
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
        height: 400px;
    }
    .Footer{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        flex-wrap: wrap;
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
        height: 90px;
    }
    .Info2 a{
        
        color: white;
    }
    .Footer img{
        width: 75px;
        height: 65px;
        margin-top: 0.5rem;
    }
    .Info2 h2, p{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .Info2 img{
        width: 200px;
        height: 150px;
        float: left;
    }
}
/*Tablets This section is done except the picture of Mr.B */
@media only screen and (min-width: 601px) and (max-width: 768px){
    body{
        background-color: #F8C471;
    }
    .box{
        background-color:#C5C3C0;
    }
    .Header a:hover{
        background-color:#FFB540;
        color:white;
        cursor: pointer;
    }
    p{
        padding: 0.5rem;
    }
    .Info1 h2{
        text-align: center;
        color:white;
        font-family: 'Font1';
    }
    p{
        text-align: center;
        color: white;
        font-family: 'Font1';
        text-shadow: 1px 1px black;
    }
    .Info1 img{
        width: 200px;
        height: 150px;
        padding: 1rem;
    }
    .Info1 h1{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .box{
        border: black solid; 
    }
    .Info2 img{
        float: left;
        height:180px;
        width: 240px;
        padding: 10px;
        padding-bottom: 10px;
        margin-bottom: 8px;
    }
    .Info2 h1{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .Info2 p{
        font-family: 'Font1';
        color: white; 
    }
    /*Horizontal Setup*/
    .Header ul li:hover > ul, 
    ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .Header ul li ul li{
        clear: both;
        width: 100%;
        font-family: 'Font1';
        font-size: 20px; 
        text-shadow: 1px 1px black;
    }
    .Header ul li ul {
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 0.7rem;
        left: -150px;
        display:none;
        text-decoration: none;
        
    }
    .Header li{
        background: #F8C471;
        display: block;
        float: left;
        padding:0.5rem;
        margin-top:0rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
        font-family: 'Font1';
        font-size: 20px; 
        width: 135px;
        height: 25px;
        right: -6rem;
        padding-top: 1rem;
        padding-bottom: 0.3rem;
        padding-right: 0rem;
        text-shadow: 1px 1px black;
    }
    .Header a{
        text-decoration: none;
        color: white;
    }
    .grid-container{
        display: grid;
        grid-row-gap: 5rem;
        grid-column-gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
    }
    .Header{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 80px;
        flex-wrap: wrap;
        /*position: fixed;*/
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
    }
    .Header h1{
        float: right;
    }
    h1, h2{
        text-shadow: 2px 2px black; 
    }
    .Info1{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 4;
        flex-wrap: wrap;
        height: 450px;
        box-shadow: 6px 6px white;
    }
    .Info2{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
        flex-wrap: wrap;
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
        height: 400px;
    }
    .Footer{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        flex-wrap: wrap;
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
        height: 90px;
    }
    .Info2 a{
        
        color: white;
    }
    .Footer img{
        width: 75px;
        height: 65px;
        margin-top: 0.5rem;
    }
    .Info2 h2, p{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .Info2 img{
        width: 200px;
        height: 150px;
        float: left;
    }
}

/*Landscape Tablets This section is DONE*/
@media only screen and (min-width: 769px) and (max-width: 991px){
    body{
        background-color: #F8C471;
    }
    .box{
        background-color:#C5C3C0;
    }
    .Header a:hover{
        background-color:#FFB540;
        color:white;
        cursor: pointer;
    }
    p{
        padding: 0.5rem;
    }
    .Info1 h2{
        text-align: center;
        color:white;
        font-family: 'Font1';
    }
    p{
        text-align: center;
        color: white;
        font-family: 'Font1';
        text-shadow: 1px 1px black;
    }
    .Info1 img{
        width: 200px;
        height: 150px;
        padding: 1rem;
    }
    .Info1 h1{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .box{
        border: black solid; 
    }
    .Info2 img{
        float: left;
        height:180px;
        width: 240px;
        padding: 10px;
        padding-bottom: 10px;
        margin-bottom: 8px;
    }
    .Info2 h1{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .Info2 p{
        font-family: 'Font1';
        color: white; 
    }
    /*Horizontal Setup*/
    .Header ul li:hover > ul, 
    ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .Header ul li ul li{
        clear: both;
        width: 100%;
        font-family: 'Font1';
        font-size: 20px; 
        text-shadow: 1px 1px black;
    }
    .Header ul li ul {
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 0.7rem;
        left: -200px;
        display:none;
        text-decoration: none;
        
    }
    .Header li{
        background: #F8C471;
        display: block;
        float: left;
        padding:0.5rem;
        margin-top:0rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
        font-family: 'Font1';
        font-size: 20px; 
        width: 135px;
        height: 25px;
        right: -9.5rem;
        padding-top: 1rem;
        padding-bottom: 0.3rem;
        padding-right: 0rem;
        text-shadow: 1px 1px black;
    }
    .Header a{
        text-decoration: none;
        color: white;
    }
    .grid-container{
        display: grid;
        grid-row-gap: 5rem;
        grid-column-gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
    }
    .Header{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 80px;
        flex-wrap: wrap;
        /*position: fixed;*/
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
    }
    .Header h1{
        float: right;
    }
    h1, h2{
        text-shadow: 2px 2px black; 
    }
    .Info1{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 4;
        flex-wrap: wrap;
        height: 450px;
        box-shadow: 6px 6px white;
    }
    .Info2{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
        flex-wrap: wrap;
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
        height: 400px;
    }
    .Footer{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        flex-wrap: wrap;
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
        height: 90px;
    }
    .Info2 a{
        
        color: white;
    }
    .Footer img{
        width: 75px;
        height: 65px;
        margin-top: 0.5rem;
    }
    .Info2 h2, p{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .Info2 img{
        width: 200px;
        height: 150px;
        float: left;
    }
}

/* Laptops This section is DONE*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
    body{
        background-color: #F8C471;
    }
    .box{
        background-color:#C5C3C0;
    }
    .Header a:hover{
        background-color:#FFB540;
        color:white;
        cursor: pointer;
    }
    p{
        padding: 0.5rem;
    }
    .Info1 h2{
        text-align: center;
        color:white;
        font-family: 'Font1';
    }
    p{
        text-align: center;
        color: white;
        font-family: 'Font1';
        text-shadow: 1px 1px black;
    }
    .Info1 img{
        width: 200px;
        height: 150px;
        padding: 1rem;
    }
    .Info1 h1{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .box{
        border: black solid; 
    }
    .Info2 img{
        float: left;
        height:180px;
        width: 240px;
        padding: 10px;
        padding-bottom: 10px;
        margin-bottom: 8px;
    }
    .Info2 h1{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .Info2 p{
        font-family: 'Font1';
        color: white; 
    }
    /*Horizontal Setup*/
    .Header ul li:hover > ul, 
    ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .Header ul li ul li{
        clear: both;
        width: 100%;
        font-family: 'Font1';
        font-size: 20px; 
        text-shadow: 1px 1px black;
    }
    .Header ul li ul {
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 0.7rem;
        left: -300px;
        display:none;
        text-decoration: none;
        
    }
    .Header li{
        background: #F8C471;
        display: block;
        float: left;
        padding:0.5rem;
        margin-top:0rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
        font-family: 'Font1';
        font-size: 20px; 
        width: 135px;
        height: 25px;
        right: -15rem;
        padding-top: 1rem;
        padding-bottom: 0.3rem;
        padding-right: 0rem;
        text-shadow: 1px 1px black;
    }
    .Header a{
        text-decoration: none;
        color: white;
    }
    .grid-container{
        display: grid;
        grid-row-gap: 5rem;
        grid-column-gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
    }
    .Header{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 80px;
        flex-wrap: wrap;
        /*position: fixed;*/
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
    }
    .Header h1{
        float: right;
    }
    h1, h2{
        text-shadow: 2px 2px black; 
    }
    .Info1{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 4;
        flex-wrap: wrap;
        height: 450px;
        box-shadow: 6px 6px white;
    }
    .Info2{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
        flex-wrap: wrap;
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
        height: 400px;
    }
    .Footer{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        flex-wrap: wrap;
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
        height: 90px;
    }
    .Info2 a{
        
        color: white;
    }
    .Footer img{
        width: 75px;
        height: 65px;
        margin-top: 0.5rem;
    }
    .Info2 h2, p{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .Info2 img{
        width: 200px;
        height: 150px;
        float: left;
    }
}

/*Desktops layout is DONE*/ 
@media only screen and (min-width: 1200px) {
    body{
        background-color: #F8C471;
    }
    .box{
        background-color:#C5C3C0;
    }
    .Header a:hover{
        background-color:#FFB540;
        color:white;
        cursor: pointer;
    }
    p{
        padding: 0.5rem;
    }
    .Info1 h2{
        text-align: center;
        color:white;
        font-family: 'Font1';
    }
    p{
        text-align: center;
        color: white;
        font-family: 'Font1';
        text-shadow: 1px 1px black;
    }
    .Info1 img{
        width: 200px;
        height: 150px;
        padding: 1rem;
    }
    .Info1 h1{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .box{
        border: black solid; 
    }
    .Info2 img{
        float: left;
        height:180px;
        width: 240px;
        padding: 10px;
        padding-bottom: 10px;
        margin-bottom: 8px;
    }
    .Info2 h1{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .Info2 p{
        font-family: 'Font1';
        color: white; 
    }
    /*Horizontal Setup*/
    .Header ul li:hover > ul, 
    ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .Header ul li ul li{
        clear: both;
        width: 100%;
        font-family: 'Font1';
        font-size: 20px; 
        text-shadow: 1px 1px black;
    }
    .Header ul li ul {
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 0.7rem;
        left: -390px;
        display:none;
        text-decoration: none;
        
    }
    .Header li{
        background: #F8C471;
        display: block;
        float: left;
        padding:0.5rem;
        margin-top:0rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
        font-family: 'Font1';
        font-size: 20px; 
        width: 135px;
        height: 25px;
        right: -21rem;
        padding-top: 1rem;
        padding-bottom: 0.3rem;
        padding-right: 0rem;
        text-shadow: 1px 1px black;
    }
    .Header a{
        text-decoration: none;
        color: white;
    }
    .grid-container{
        display: grid;
        grid-row-gap: 5rem;
        grid-column-gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
    }
    .Header{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 80px;
        flex-wrap: wrap;
        /*position: fixed;*/
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
    }
    .Header h1{
        float: right;
    }
    h1, h2{
        text-shadow: 2px 2px black; 
    }
    .Info1{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 4;
        flex-wrap: wrap;
        height: 450px;
        box-shadow: 6px 6px white;
    }
    .Info2{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
        flex-wrap: wrap;
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
        height: 400px;
    }
    .Footer{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 6;
        flex-wrap: wrap;
        background-color:#C5C3C0;
        box-shadow: 6px 6px white;
        height: 90px;
    }
    .Info2 a{
        
        color: white;
    }
    .Footer img{
        width: 75px;
        height: 65px;
        margin-top: 0.5rem;
    }
    .Info2 h2, p{
        text-align: center;
        font-family: 'Font1';
        color: white;
    }
    .Info2 img{
        width: 200px;
        height: 150px;
        float: left;
    }
}
